/**************
*** Display ***
**************/
.d-flex{ display: flex;}

/**************
*** Flex ******
**************/
.flex-row{ flex-direction: row;}
.flex-column { flex-direction:column}
.flex-row-reverse { flex-direction: row-reverse;}
.flex-grow{flex-grow: 1;} /*När vi använder flex grow så ska den utöka sin bredd*/

/**********************
*** Align & Justify ***
**********************/
.justify-content-between {justify-content: space-between; }
.align-items-center {align-items: center; }